.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'trajan-pro-3', Verdana, Geneva, Tahoma, sans-serif;
}

.login-input {
    padding: 10px;
    font-size: 20px;
}

